<div class="form-group">
    <label for="busqueda">Caja búsqueda</label>
    <input #cajabusqueda type="search" id="busqueda" (keydown.enter)="busqueda2()"  nombre="busqueda" class="form-control" placeholder="Intro nombre o apellido y pulse intro" aria-label="Username" aria-describedby="basic-addon1">
    <!-- <input type="search" id="busqueda" (keyup)="busqueda3()" (keydown.enter)="busqueda21($event)" (search)="busqueda1()" nombre="busqueda" class="form-control" placeholder="Intro nombre o apellido" aria-label="Username" aria-describedby="basic-addon1"> -->
  </div>
  
